// COLORS
$color-primary: #41a99d;
$color-primary-light: #4abebd;
$color-secondary: #bfdf32;
$color-grey: #C0C1C6;
$color-grey-background: #F0F0F0;
$color-white: #ffffff;

// FONT


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
